# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# eclipse/DDT
.project
.settings

# DUB
.dub
docs.json
__dummy.html
dub.selections.json

.directory
# not necessary to be done or later:
dub_saved.json
reasoning
private/
di/iup/*.di
di/cd/*.di
di/im/*.di

lib/windows-x86_64/vcruntime140_dll
lib/*.txt
source/im
source/iup/private
source/cd/private
source/im/private
